name: build-prebuilds

on:
  release:
    types: [created]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - run: npm run prebuild

      - run: tar -czf prebuild-${{ matrix.os }}.tar.gz prebuilds

      - uses: softprops/action-gh-release@v2
        with:
          files: prebuild-${{ matrix.os }}.tar.gz
