name: Prebuild
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: npm install
      - run: npm run prebuild
      - uses: actions/upload-artifact@v4
        with:
          name: prebuilds-${{ matrix.os }}
          path: prebuilds/

  final_commit:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/download-artifact@v4
        with:
          path: prebuilds/
          pattern: prebuilds-*
          merge-multiple: true

      - name: Commit and Push prebuilds
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add prebuilds/
          # Eğer değişiklik yoksa hata vermemesi için || true kullanıyoruz
          git commit -m "chore: update native prebuilds [skip ci]" || true
          git push